<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
      <div class="row">
        <div class="col-lg-12">
          <h1>Gestor Clientes</h1>
          <hr/>
          <button on-click="obtenerClientes" class="btn btn-success" type="button">Obtener Clientes</button>
          <button on-click="anadirCliente" class="btn btn-primary" type="button">Añadir Cliente</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-xs-12">
            <br/>
          <table class="table table-striped">
            <thead>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{clientes}}">
                <tr>
                  <td>[[item.idCliente]]</td>
                  <td>[[item.nombre]]</td>
                  <td>[[item.apellido]]</td>
                </tr>
              </template>
            </tbody>
            <tfoot>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
            </tfoot>
          </table>
        </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerClientes() {
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/v3/movimientos", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
      }

      anadirCliente() {
        var request = new XMLHttpRequest();
        request.open("POST", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-type", "application/json");
        var nuevoCliente = {
          CustomerID: "123123",
          ContactName: "Pepe",
          CompanyName: "Pepes Bar"
        };
        var requestBody = JSON.stringify(nuevoCliente);
        request.send(requestBody);
        this.clientes = JSON.parse(request.responseText).value;
        console.log(this.clientes);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
