<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="row">
      <img class="col-lg-8 col-xs-12" src="https://www.flaticon.com/premium-icon/icons/svg/1146/1146289.svg" alt="">
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <button on-click="incrementar" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Cargar datos</button>
        <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}" class="form-control">
        <input type="text" value="[[prop1]]" class="form-control">
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Elena</td>
              <td>Nito</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Leandro</td>
              <td>Gao</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <h2>Hello [[prop1]]!</h2>
    <h3>Mi valor es [[prop2]]</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'Indique su usuario'
          }
        };
      }

      incrementar() {
        this.prop2 += 1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
